* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e2f;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.quiz-box {
  background-color: #2a2a40;
  padding: 3px;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
#quesion {
  margin-bottom: 20px;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
#next-btn {
  padding: 10px 20px;
  border: none;
  background: #4b6cb7;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
#timer {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffcc00;
}
.option-btn {
  background-color: #3a3a5c;
  color: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.option-btn:hover {
  background-color: #4b4b7e;
}
.option-btn.correct {
  background-color: #28a745;
}
.option-btn.wrong {
  background-color: #dc3545;
}
.restart-btn {
  padding: 10px 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
}

.restart-btn:hover {
  background: #1d6921;
}
